# 01_intro review

### 몫, 나머지, 제곱

In [4]:
a = 10
b = 3

# a를 b로 나눈 몫
print(a // b)

# a를 b로 나눈 나머지
print(a % b)

# a를 b로 나눈 몫,나머지 출력  - tuple 형
print(divmod(a,b))
type(divmod(a,b))

3
1
(3, 1)

tuple

### 기타연산자

In [8]:
# concatenation - str
a = 'hi'
b = 'hello'
print(a + b)

hihello

In [9]:
# concatenation - list
a = [1, 2, 3]
b = [4, 5, 6]
print(a + b)

[1, 2, 3, 4, 5, 6]

In [10]:
# containment - str
print('a' in 'apple')
print('z' in 'apple')

True
False

In [11]:
# containment - list
print(1 in [1, 2, 3])
print(10 in [1, 2, 3])

True
False

### 우선순위

0. ()로 그룹
1. 산술연산자 (*, /)
2. 산술연산자 (+, -)
3. 비교연산자, in, is
4. not
5. and
6. or

### 명시적 형변환

- int() : string, float를 int로 변환
- float() : string, int를 float로 변환
- str() : int, float 등을 string으로 변환
- bool() : int, list 등을 boolean으로 변환

### 시퀀스에서 활용가능한 연산/함수

In [12]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)
my_range = range(1, 100)
my_string = '12345'

In [13]:
# indexing - 인덱스에 해당하는 값에 접근

print(my_list[1])
print(my_tuple[1])
print(my_range[1])
print(my_string[1])

2
2
2
2

In [14]:
# slicing - 1번 인덱스부터 3번 인덱스 전까지

print(my_list[1:3])
print(my_tuple[1:3])
print(my_range[1:3])
print(my_string[1:3])

[2, 3]
(2, 3)
range(2, 4)
23

In [19]:
# slicing (k간격으로)

print(list(my_range[2:10:2]))
print(list(my_range[10:2:-1]))  # my_range[10] = 11, my_range[2] = 3

[3, 5, 7, 9]
[11, 10, 9, 8, 7, 6, 5, 4]

In [21]:
# in, not in - T/F 로 반환

print(1 in my_list)
print(1 in my_tuple)
print(1 not in my_range)
print('1' not in my_string)

True
True
False
False

In [23]:
# len, max, min, count

print(len(my_list))
print(min(my_list))
print(max(my_list))
my_list.count(1)     # 1이 몇개 들어있는지

5
1
5

1

### 시퀀스 데이터가 아닌 자료구조

- set 
- dictionary

### Set
수학에서 사용하는 집합과 동일하게 처리 (중복된 값이 없음)
- 선언 : set_name = {value1, value2, value3...}

In [25]:
my_set_a = {1, 2, 3, 4, 5}
my_set_b = {3, 4, 5, 6, 7}

print(my_set_a - my_set_b)  # 차집합
print(my_set_a | my_set_b)  # 합집합
print(my_set_a & my_set_b)  # 교집합

{1, 2}
{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}

In [26]:
# 리스트의 중복된 값 제거할 때 사용할 수 있다.

my_list = [1, 1, 1, 1, 1, 2, 2, 3, 4, 5, 6, 7]
print(list(set(my_list)))

[1, 2, 3, 4, 5, 6, 7]

### Dictionary

- 선언 : dict_name = {key1: value1, key2: value2, ...}
- 접근 : dict_name[key]
- key에는 immutable한 모든 것을 사용가능 (불변값: string, integer...)
- value에는 모든 데이터 가능(list, dictionary도 가능)

In [31]:
# key가 중복되면 나중에 할당된 값으로 덮어씌어진다.
dict_a = {
    'name': 'seungwook',
    'location': 'seoul',
    'location': 'seoul2'
}

print(dict_a['name'])
print(dict_a)

seungwook
{'name': 'seungwook', 'location': 'seoul2'}

In [32]:
# key와 value 따로 추출

print(dict_a.keys())
print(dict_a.values())

print('name' in dict_a.keys())
print('seoul2' in dict_a.values())

dict_keys(['name', 'location'])
dict_values(['seungwook', 'seoul2'])
True
True

# 02_control_of_flow review

### 조건문 - if문

- `if`문은 반드시 일정한 `참/거짓`을 판단할 수 있는 `조건식`과 함께 사용한다.
- `if <조건식>:`
- `<조건식>`이 참인 경우 `:` 이후의 문장을 실행
- `<조건식>`이 거짓인 경우 `else:` 이후의 문장을 실행

In [33]:
# 90점 이상 A (95점이상 '참잘했어요')
# 80점 이상 B
# 70점 이상 C
# 나머지 F
score = int(input('점수를 입력하세요:'))

if score >= 90:
    print('A')
    if score >= 95:
        print('참잘했어요')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
else:
    print('F')

점수를 입력하세요: 96

A
참잘했어요

### 조건표현식

```python
true_value if <조건식> else false_value
```

In [35]:
# result에 '홀수'/'짝수' 할당할지 선택

num = 2
result = '홀수' if num % 2 == 1 else '짝수'
print(result)

짝수

### 반복문

### while

```python
while <조건식>:
    code
```

In [36]:
a = 0

while a < 5:
    print(a)
    a += 1

0
1
2
3
4

### for
정해진 범위 내의 반복

```python
    for variable in sequence:
    code
```

In [37]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print(number)

1
2
3
4
5

In [38]:
# 1~30까지 숫자 중에서 홀수만 담긴 리스트를 출력

a = list(range(1,31))
result = []

for i in a:
    if i % 2 == 1:
        result.append(i)
print(result)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [41]:
#enumerate() : index값 필요할 때 사용

menus = ['라면', '김밥', '돈까스']

for menu in enumerate(menus):   
    print(menu[0])
    print(menu[1])

0
라면
1
김밥
2
돈까스

In [40]:
menus = ['라면', '김밥', '돈까스']

for idx, menu in enumerate(menus):   
    print(idx)
    print(menu)

0
라면
1
김밥
2
돈까스

### dictionary 반복
```python
 for key in dict:
 for key in dict.keys():
 for value in dict.values():
 for key, value in dict.items():
```

In [42]:
info = {
    'name': 'gildong',
    'location': 'seoul',
    'phone': '010-1234-1234'
}

In [43]:
for i in info:
    print(i)       # key에 접근
    print(info[i])  # value에 접근

name
gildong
location
seoul
phone
010-1234-1234

In [45]:
blood_type = {
    'A': 5,
    'B': 4,
    'O': 2,
    'AB': 3
}

In [48]:
# for key in dict:

print('혈액형 목록')
for key in blood_type:    
    print(key)

혈액형 목록
A
B
O
AB

In [49]:
# for key in dict.keys():

print('혈액형 목록')
for key in blood_type.keys():
    print(key)

혈액형 목록
A
B
O
AB

In [51]:
# for key in dict.values():

print('혈액형별 인원')
for value in blood_type.values():
    print(value)

혈액형별 인원
5
4
2
3

In [54]:
# for key, value in dict.items()

for key, value in blood_type.items():
    print(f'{key}형은 {value}명입니다')

print(blood_type.items())

A형은 5명입니다
B형은 4명입니다
O형은 2명입니다
AB형은 3명입니다
dict_items([('A', 5), ('B', 4), ('O', 2), ('AB', 3)])

### break, continue

- break : 반복문을 종료시키는 키워드
- continue : continue 이후의 코드를 실행하지 않고 다음 반복을 진행

In [56]:
for i in range(100):
    if i > 3:
        print('3 넘었어')
        break
    print(i)

0
1
2
3
3 넘었어

In [58]:
# 홀수 -> i % 2 = 1 
# True로 판단 -> continue로 실행 X

for i in range(10):
    if i % 2:
        continue
    print(i)

0
2
4
6
8

### else

- else문은 끝까지 반복이 진행된 후 실행

In [59]:
for i in range(6):
    if i > 100:
        break
    print(i)
else:
    print('break 못만남')

0
1
2
3
4
5
break 못만남

In [60]:
# 반복문이 다 진행되지 않으면 else 실행되지 않는다.
for i in range(6):
    if i > 3:
        break
    print(i)
else:
    print('break 못만남')

0
1
2
3

In [61]:
numbers = [1, 3, 5, 7, 9]
target = 5

for num in numbers:
    if num == target:
        print('True')
        break
    print(num)
else:
    print('Target 못찾음')

1
3
True

### match

```python
match value:
    case 조건:
        code
    case 조건:
        code
    case _:
        code
```

In [62]:
status = 100 

match status:
    case 400:
        print('Bad request')
    case 404:
        print('Not found')
    case _:
        print('someting is wrong')

someting is wrong