## 함수의 선언과 호출

- 함수의 선언
```python
def func_name(parameter1, parameter2...):
    code1
    code2
    ...
    return value
```
- 함수의 호출(실행)
```python
func_name(parameter1, parameter2)
```

In [1]:
# 두개의 정수를 받아서 큰 수를 출력
def my_max(num1, num2):
    if num1 > num2:
        print(num1)
    elif num1 < num2:
        print(num2)
    else:
        print('두 수가 같습니다.')

In [4]:
# 함수의 return 값 X

result = my_max(1,10)
print(result)

10
None

## 함수의 return
- 함수가 return을 만나면 해당 값을 반환하고 함수를 종료
- 만약 return이 없다면 None을 자동으로 반환
- return은 오직 하나의 객체만 반환

In [5]:
# 두개의 정수를 받아서 큰 수를 반환
def my_max2(num1, num2):
    if num1 > num2:
        return num1
    elif num1 < num2:
        return num2
    else:
        return 0

In [6]:
result = my_max2(1,2)
print(f'{result}가 더 큽니다.')

2가 더 큽니다.

In [7]:
# 합이 더 큰 리스트 반환
def my_list_max(list_a, list_b):
    if sum(list_a) > sum(list_b):
        return list_a
    else:
        return list_b

In [8]:
my_list_max([10,11], [11,12])

[11, 12]

## 함수의 인수

### 위치인수 

기본적으로 함수는 인수의 위치로 판단

In [9]:
def cylinder(r, h):
    return 3.14 * r**2 * h

print(cylinder(10, 5))
print(cylinder(5, 10))

1570.0
785.0

### 기본값
```python
def func(p1 = v1)
    return v1
```

In [10]:
def greeting(name='익명'):
    return f'{name}님 반갑습니다.'

print(greeting('승욱'))
print(greeting())         # 아무값도 넣지 않고 함수를 호출할 때 기본값을 사용

승욱님 반갑습니다.
익명님 반갑습니다.

In [11]:
# 기본인자를 앞에 사용할 때 에러

def greeting(name='익명', age):
    return f'{name}님은 {age}살입니다.'

SyntaxError: non-default argument follows default argument (3086438944.py, line 3)

In [12]:
# 기본인자를 사용할 때 뒤에 사용
def greeting(age, name='익명'):
    return f'{name}님은 {age}살입니다.'

print(greeting(10, '홍길동'))
print(greeting(20))

홍길동님은 10살입니다.
익명님은 20살입니다.

### 키워드 인자
함수를 호출(실행)할 때 내가 원하는 위치에 직접적으로 특정인자를 전달가능

In [13]:
def greeting(age, name='익명'):
    return f'{name}님은 {age}살입니다.'

print(greeting(10, '홍길동'))
print(greeting(name='홍길동', age=10))

홍길동님은 10살입니다.
홍길동님은 10살입니다.

In [14]:
# 공백에 ! , 문장 끝에 ?
print('안녕')
print('안녕', '하세요', sep='!', end='?')

안녕
안녕!하세요?

### 가변 인자 리스트
```python
def func(*params)
    pass
```

In [16]:
## 들어오는 데이터를 튜플로 처리 

def my_print(*words):
    print(words)
    print(type(words))

my_print('hi', 'hello', '안녕', '하세요')

('hi', 'hello', '안녕', '하세요')
<class 'tuple'>

In [17]:
def my_max(*numbers):
    result = numbers[0]

    for number in numbers:
        if result < number:
            result = number
            
    return result

In [18]:
print(my_max(1, 2, 3, 4, 5))
print(my_max(-1, -2, -3, -4, -5))

5
-1

### 정의되지 않은 키워드 인자 처리하기
```python
def func(**kwargs)
    pass
```

In [19]:
info = {
    'name': 'hong',
    'age': 20
}

print(info)

{'name': 'hong', 'age': 20}

In [21]:
# dict 함수로 딕셔너리 생성
info = dict(name='hong', age=20, asdf=1234)
print(info)

{'name': 'hong', 'age': 20, 'asdf': 1234}

In [22]:
def fake_dick(**kwargs):
    for key, value in kwargs.items():
        print(f'{key}는 {value}입니다.')
        
fake_dick(korean='안녕', english='hello')

korean는 안녕입니다.
english는 hello입니다.

### 딕셔너리를 인자로 넣기(unpacking)

In [25]:
# 회원가입 함수 선언

def sign_up(username, password, password_confirmation):
    if password == password_confirmation:
        print(f'{username}님 회원가입이 완료되었습니다.')
    else:
        print('비밀번호가 일치하지 않습니다.')
sign_up('jsw', 'qwer', 'qwer')

jsw님 회원가입이 완료되었습니다.

In [26]:
# 함수의 인자로 딕셔너리 사용

my_account = {
    'username': 'asdf1234',
    'password': 'qwer1234',
    'password_confirmation': 'qwer1234',
}

sign_up(**my_account)

asdf1234님 회원가입이 완료되었습니다.

### lambda 표현신ㄱ
```python
lambda parameter: expression
```

In [27]:
(lambda a, b: a + b)(1, 2)

3

### 타입 힌트

In [29]:
# 함수 인자와 결과의 타입 표시

def my_sum(num1: int, num2: int) -> int:
    return num1 + num2

my_sum(1, 2)

3

### 이름공간 (scope)
파이썬에서 사용되는 이름들은 이름공간(namespace)에 저장되어있습니다.
- Local scope: 정의된 함수 내부
- Enclosed scope: 상위 함수
- Global scope: 함수 밖의 변수 혹은 import된 모듈
- Built-in scope: 파이썬이 기본적으로 가지고 있는 함수 혹은 변수

In [30]:
str = '123'
print(str)

123

In [33]:
# Local scope에 변수를 선언해서 
# Built-in scope 함수 사용 에러

str(789)

TypeError: 'str' object is not callable

In [34]:
del str

In [36]:
# 함수 내부의 Local scope 먼저 실행
a =1 
def localscope(a):
    print(a)

localscope(5)

5

In [38]:
# global 키워드로 전역에 있는 변수 사용

num = 10
def scope():
    global num
    num = 20
    print(num)

scope()
print(num)

20
20

### 재귀 (recursive)
재귀 함수는 함수 내부에서 자기 자신을 호출하는 함수를 의미한다.

In [39]:
# 팩토리얼
def fact(n):
    result = 1
    while n > 0:
        result *= n
        n -= 1
    return result

fact(6)

720

In [40]:
# 팩토리얼 - 재귀
def factorial(n):
    if n <= 1:
        return 1
    else:
        return factorial(n-1) * n    # 10! = 9! * 10

factorial(5)

120

### 피보나치 수열
```
F(0) = F(1) = 1
F(n) = F(n-1) + F(n-2)
```

In [44]:
# 반복문

def fib_loop(n):
    result = [1, 1]

    for i in range(1, n):
        end1 = result[-1]                    # 리스트 뒤에서 접근
        end2 = result[len(result) - 2]       # 리스트 앞에서 접근할 때
        fib_num = end1 + end2

        result.append(fib_num)
        
    return result[-1]

fib_loop(6)

13

In [43]:
# 재귀

def fib_rec(n):
    if n == 0 or n == 1:
        return 1
    else:
        return fib_rec(n-2) + fib_rec(n-1)

fib_rec(6)

13