In [1]:
# 리스트 요소를 ''사이의 구분자와 함께 합치기

''.join(['1', '2', '3'])

'123'

## 1. 문자열 메소드

In [2]:
a = 'hello my name is'

In [3]:
# str은 immutable
a[0] = 'H'

TypeError: 'str' object does not support item assignment

In [6]:
# capitalize() - 첫 번째 텍스트를 대문자로
# capitalize() 함수는 원본을 바꾸지 않는다

print(a.capitalize())
print(a)

Hello my name is
hello my name is

In [8]:
print(a.title())
print(a)

Hello My Name Is
hello my name is

In [9]:
print(a.upper())
print(a)

HELLO MY NAME IS
hello my name is

In [10]:
#''.join(iterable)

my_list = ['hi', 'my', 'name']
','.join(my_list)

'hi,my,name'

In [15]:
# .replace(old, new[, count])
# 앞에서부터 count 개수만큼 변환
'woooooooooow'.replace('o', '!', 5)

'w!!!!!ooooow'

In [17]:
# .strip([chars])
my_string = '     hello\n'
print(my_string)
print(my_string.strip())   # 공백 제거

my_string2 = 'hihihihihellohihihihi'
print(my_string2.strip('hi'))
print(my_string2.lstrip('hi'))
print(my_string2.rstrip('hi'))

     hello

hello
ello
ellohihihihi
hihihihihello

In [18]:
# .find(x) - 있으면 인덱스 찾아서 반환/ 없으면 -1

a = 'apple'
print(a.find('l'))
print(a.find('z'))

# 중복되는 인자를 모두 출력하고 싶을 때
for i in range(len(a)):
    if 'p' == a[i]:
        print(i)

3
-1
1
2

In [19]:
# .index(x) - 없으면 에러
a = 'apple'
print(a.index('l'))
print(a.index('z'))

3

ValueError: substring not found

In [20]:
# .split(x) - x를 기준으로 쪼갬

a = 'my_name_is_hong'
a.split('_')

['my', 'name', 'is', 'hong']

In [21]:
# .count(x) - x의 개수 반환

a = 'wooooooow'
a.count('o')

7

## 2. 리스트 메소드

In [58]:
numbers = [1, 2, 2, 5, 2, 1, 7, 2, 4, 4]

In [59]:
# .append(x) - 원본에 추가

numbers.append(10)
print(numbers)

[1, 2, 2, 5, 2, 1, 7, 2, 4, 4, 10]

In [60]:
# .extend(iterable)

a = [99, 100]
numbers.extend(a)
print(numbers)
print(numbers + a)

[1, 2, 2, 5, 2, 1, 7, 2, 4, 4, 10, 99, 100]
[1, 2, 2, 5, 2, 1, 7, 2, 4, 4, 10, 99, 100, 99, 100]

In [61]:
# insert(idx, x) - idx 인덱스에 x 추가

numbers.insert(3, 111)
print(numbers)

[1, 2, 2, 111, 5, 2, 1, 7, 2, 4, 4, 10, 99, 100]

In [62]:
# .remove(x) - 리스트 안의 x값 제거

numbers.remove(111)
print(numbers)

[1, 2, 2, 5, 2, 1, 7, 2, 4, 4, 10, 99, 100]

In [65]:
# .pop([idx]) - idx 안적으면 맨뒤 제거
numbers.pop()
print(numbers)

[1, 2, 2, 5, 2, 1, 7, 2, 4, 4]

In [66]:
# .sort() 
numbers.sort()
print(numbers) 

numbers.sort(reverse=True)
print(numbers)

[1, 1, 2, 2, 2, 2, 4, 4, 5, 7]
[7, 5, 4, 4, 2, 2, 2, 2, 1, 1]

In [67]:
# .reverse() - 역순으로
print(numbers)
numbers.reverse()
print(numbers)
numbers = numbers[::-1]
print(numbers)

[7, 5, 4, 4, 2, 2, 2, 2, 1, 1]
[1, 1, 2, 2, 2, 2, 4, 4, 5, 7]
[7, 5, 4, 4, 2, 2, 2, 2, 1, 1]

### 2.1 list copy

In [68]:
origin_list = [1, 2, 3]
copy_list = origin_list

print(origin_list)
print(copy_list)

[1, 2, 3]
[1, 2, 3]

In [69]:
copy_list[0] = 100

print(origin_list)
print(copy_list)

[100, 2, 3]
[100, 2, 3]

In [70]:
a = [1, 2, 3]
b = a[:]
c = list(a)

b[0] = 100
c[0] = 101

print(a)
print(b)
print(c)

[1, 2, 3]
[100, 2, 3]
[101, 2, 3]

In [73]:
a = [1, 2, [3, 4]]
b = a[:]

b[2][0] = 100

print(a)
print(b)

[1, 2, [100, 4]]
[1, 2, [100, 4]]

In [74]:
import copy
a = [1, 2, [3, 4]]
b = copy.deepcopy(a)

b[2][0] = 100

print(a)
print(b)

[1, 2, [3, 4]]
[1, 2, [100, 4]]

## 2.2 list comprehension

In [75]:
numbers = list(range(1, 11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [78]:
# 모든 요소 세제곱  
# for문으로 새로 생성한 리스트에 추가

result = []
for num in numbers:
    result.append(num ** 3)

print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [77]:
result2 = [num ** 3 for num in numbers]
print(result2)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [79]:
# 짝수만 고르기 - 반복문

even_list = []
for i in numbers:
    if i % 2 == 0:
        even_list.append(i)

print(even_list)

[2, 4, 6, 8, 10]

In [80]:
# 짝수만 고르기 - list comprehension

even_list2 = [i for i in numbers if i % 2 ==0]
print(even_list2)

[2, 4, 6, 8, 10]

In [81]:
words = 'my name is seungwook'
vowels = 'aeiou'

In [83]:
# 모음제거 - for문 버전

result = []

for char in words:
    if char not in vowels:
        result.append(char)

print(result)
print(''.join(result))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 's', 'n', 'g', 'w', 'k']
my nm s sngwk

In [84]:
# 모음제거 - comprehension 버전

result2 = [char.upper() for char in words if char not in vowels]

print(result2)
print(''.join(result2))

['M', 'Y', ' ', 'N', 'M', ' ', 'S', ' ', 'S', 'N', 'G', 'W', 'K']
MY NM S SNGWK

## 3. 딕셔너리 메소드

In [92]:
info = {
    'name': 'hong',
    'location': 'seoul',
}

In [93]:
# key에 접근하여 수정

info['name'] = 'kim'
print(info['name'])

kim

In [94]:
# .pop(key[, default]) 
#  key 항목 삭제 / 없으면 default 반환

print(info.pop('location', None))
print(info)

seoul
{'name': 'kim'}

In [95]:
# .update(key=value)
# 수정 / 추가

info.update(name='hong')
print(info)

info.update(location='seoul')
print(info)

{'name': 'hong'}
{'name': 'hong', 'location': 'seoul'}

In [96]:
# .get(key[, default])
# key 없으면 default 반환

print(info.get('name'))
print(info.get('school'))
print(info.get('school', '123'))

hong
None
123

### 3.1 dict comprehension

In [97]:
# for 

cube_dict = {}
for i in range(1, 4):
    cube_dict[i] = i ** 3
    
print(cube_dict)

{1: 1, 2: 8, 3: 27}

In [98]:
# comprehension

cube_dict2 = {i: i ** 3 for i in range(1, 4)}
print(cube_dict2)

{1: 1, 2: 8, 3: 27}

In [99]:
dust = {
    '서울': 100,
    '대구': 30,
    '대전': 10,
    '부산': 80,
    '광주': 50,
}

In [100]:
# 50 이상인 지역 - for

result = {}
for k, v in dust.items():
    if v >= 50:
        result[k] = v

print(result)

{'서울': 100, '부산': 80, '광주': 50}

In [101]:
# 50 이상인 지역 - comprehension

result2 = {k: v for k, v in dust.items() if v >= 50}
print(result2)

{'서울': 100, '부산': 80, '광주': 50}

In [103]:
# value 바꿔서 저장

result2 = {k: '나쁨' for k, v in dust.items() if v >= 50}
print(result2)

{'서울': '나쁨', '부산': '나쁨', '광주': '나쁨'}

## 4. 세트 메소드

In [104]:
fruits = {'apple', 'banana', 'melon'}

In [105]:
# .add(x) - 순서 상관x

fruits.add('watermelon')
print(fruits)

{'watermelon', 'banana', 'apple', 'melon'}

In [110]:
# .update()

fruits.update('grape')
print(fruits)

fruits.update({'orange', 'pear'})
print(fruits)

{'a', 'watermelon', 'e', 'pear', 'melon', 'p', 'apple', 'g', 'r'}
{'a', 'watermelon', 'e', 'pear', 'melon', 'orange', 'p', 'apple', 'g', 'r'}

In [111]:
# remove()

fruits.remove('orange')
print(fruits)

{'a', 'watermelon', 'e', 'pear', 'melon', 'p', 'apple', 'g', 'r'}

In [112]:
# .pop()

fruits.pop()
print(fruits)

{'watermelon', 'e', 'pear', 'melon', 'p', 'apple', 'g', 'r'}

## 5. map(), zip(), filter()

### 5.1 map()
```python
map(function, iterable)
```

In [113]:
a = [1, 2, 3]
num_str = map(str, a)

print(num_str)
print(list(num_str))

<map object at 0x000002833801D840>
['1', '2', '3']

In [114]:
def cube(x):
    return x ** 3

In [116]:
# for문 활용하여 모든 item에 cube함수 실행

result = []
for i in a:
    result.append(cube(i))
print(result)

[1, 8, 27]

In [117]:
# map() 활용하여 모든 item에 cube함수 실행

result2 = map(cube, a)
print(list(result2))

[1, 8, 27]

In [119]:
numbers = list(map(int, input().split()))
print(numbers)

 1 2 3 4 5

[1, 2, 3, 4, 5]

### 5.2 zip()

In [120]:
a = [1, 2, 3]
b = [100, 200 ,300]

In [121]:
result = zip(a, b)

print(result)
print(list(result))

<zip object at 0x0000028337E3B900>
[(1, 100), (2, 200), (3, 300)]

### 5.3 filter()

```python
filter(function, iterable)
```
filter에 들어가는 function은 T/F를 반환해야 한다.

In [124]:
def is_odd(x):
    return bool(x%2)

In [125]:
numbers = [1, 2, 3, 4, 5]
result = filter(is_odd, numbers)

print(result)
print(list(result))

<filter object at 0x0000028338024A00>
[1, 3, 5]